<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileWatcherService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FileWatcherService.Properties.Settings>
            <setting name="watchDir" serializeAs="String">
                <value>c:\WORK\log\Incremental</value>
            </setting>
            <setting name="watchFilter" serializeAs="String">
                <value>To123.log</value>
            </setting>
            <setting name="metricsFilePath" serializeAs="String">
                <value>c:\Services\FileWatcherService\bin\Debug\metrics.xml</value>
            </setting>
            <setting name="zabbixSenderPath" serializeAs="String">
                <value>c:\zabbix_agents\3.2.0\bin\win64\zabbix_sender.exe </value>
            </setting>
            <setting name="zabbixServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="zabbixNetworkNode" serializeAs="String">
                <value>LOCALHOST.PROCESSES</value>
            </setting>
            <setting name="zabbixEnableSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="regexpError" serializeAs="String">
                <value>err(or)?</value>
            </setting>
        </FileWatcherService.Properties.Settings>
    </userSettings>
</configuration>